.git*
.editorconfig
.idea
.vscode
.dockerignore
docker-compose.yaml
docker-compose.yml
Dockerfile
demo/logs*
demo/etc
demo/Dockerfile
demo/.dockerignore
demo/pyproject.toml
local
build
env
.env
.kube
local-docker
